/**---------------------------------------------------------------------------------------------
 * Copyright (c) Microsoft Corporation. All rights reserved.
 * Licensed under the MIT License. See License.txt in the project root for license information.
 *---------------------------------------------------------------------------------------------*/

export const appSettings = {
  communicationServices: {
    connectionString: '<your_connection_string>',
    scopes: 'Scopes to include in the token. e.g. ['voip', 'chat'] as TokenScope[]'
  }
};
